sudo: required

language: generic

services:
  - docker

before_install:
- docker pull theosakamg7/ros2java:latest
- export ANDROID_HOME=/opt/android/android-sdk && export CURRENT_PATH=/home/travis/build/ros2_java_ws && export ROS2JAVA_PATH=$CURRENT_PATH/src/android-cmake/android-cmake/android.toolchain.cmake && export PYTHON_PATH=/usr/bin/python3 && export ANDROID_NDK=/opt/android/android-ndk-r12b && export ANDROID_VER=android-21 && export ANDROID_GCC=arm-linux-androideabi-clang && export ANDROID_ABI=armeabi-v7a
- wget https://dl.google.com/android/repository/android-ndk-r12b-linux-x86_64.zip && unzip android-ndk-r12b-linux-x86_64.zip && ls -lFa ./
- wget https://dl.google.com/android/archives/android-sdk-linux_x86-1.6_r1.tgz && tar xvjf android-sdk-linux_x86-1.6_r1.tgz && ls -lFa ./
- cd /home/travis/build && mkdir -p ament_ws/src && cd /home/travis/build/ament_ws
- docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c "/usr/bin/wget https://gist.githubusercontent.com/Theosakamg/e6084cfafa6b7ea690104424cef970a2/raw/ament_java.repos"
- docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c "/usr/bin/vcs import src < ament_java.repos"
- docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c "src/ament/ament_tools/scripts/ament.py build --symlink-install --isolated"
- cd /home/travis/build && mkdir -p ros2_java_ws/src && cd /home/travis/build/ros2_java_ws
- docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c "/usr/bin/wget https://gist.githubusercontent.com/Theosakamg/617cd893813163cdcb9943a08d667964/raw/ros2_java_android.repos"
- docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c "/usr/bin/vcs import src < ros2_java_android.repos"
- cd /home/travis/build/ros2_java_ws/src/ros2/rosidl_typesupport && patch -p1 < ../../ros2_java/ros2_java/rosidl_ros2_java.diff
- rm -rf /home/travis/build/ros2_java_ws/src/ros2_java/ros2_android_examples && ln -s /home/travis/build/ros2java-alfred/ros2_android_examples /home/travis/build/ros2_java_ws/src/ros2_java/ros2_android_examples
- touch /home/travis/build/ros2_java_ws/src/ros2/rosidl/python_cmake_module/AMENT_IGNORE && touch /home/travis/build/ros2_java_ws/src/ros2/rosidl/rosidl_generator_py/AMENT_IGNORE
- cd /home/travis/build/ros2_java_ws/src/eProsima/Fast-RTPS && git submodule init && git submodule update
- cd /home/travis/build && docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c ". ament_ws/install_isolated/local_setup.sh && cd /home/travis/build/ros2_java_ws && ament build --isolated $ONLY_PACKAGE --cmake-args -DPYTHON_EXECUTABLE=$PYTHON_PATH -DCMAKE_TOOLCHAIN_FILE=$ROS2JAVA_PATH -DANDROID_FUNCTION_LEVEL_LINKING=OFF -DANDROID_NATIVE_API_LEVEL=$ANDROID_VER -DANDROID_TOOLCHAIN_NAME=$ANDROID_GCC -DANDROID_STL=gnustl_shared -DANDROID_ABI=$ANDROID_ABI -DANDROID_NDK=$ANDROID_NDK -DANDROID_HOME=$ANDROID_HOME -DTHIRDPARTY=ON -DCOMPILE_EXAMPLES=OFF -- --ament-cmake-args -DPYTHON_EXECUTABLE=$PYTHON_PATH -DCMAKE_TOOLCHAIN_FILE=$ROS2JAVA_PATH -DANDROID_FUNCTION_LEVEL_LINKING=OFF -DANDROID_NATIVE_API_LEVEL=$ANDROID_VER -DANDROID_TOOLCHAIN_NAME=$ANDROID_GCC -DANDROID_STL=gnustl_shared -DANDROID_ABI=$ANDROID_ABI -DANDROID_NDK=$ANDROID_NDK -DANDROID_HOME=$ANDROID_HOME -DTHIRDPARTY=ON -DCOMPILE_EXAMPLES=OFF -- --ament-gradle-args -Pament.android_stl=gnustl_shared -Pament.android_abi=$ANDROID_ABI -Pament.android_ndk=$ANDROID_NDK --"


script:
- cd /home/travis/build && docker run -u "$UID" -it --rm -v `pwd`:`pwd` -w `pwd` theosakamg7/ros2java:latest sh -c ". ament_ws/install_isolated/local_setup.sh && cd /home/travis/build/ros2_java_ws #&& ament test --isolated --only rcljava"

after_success:
  - coveralls

notifications:
  webhooks:
    urls:
      - https://webhooks.gitter.im/e/4aac82b42245203edceb
    on_success: change  # options: [always|never|change] default: always
    on_failure: always  # options: [always|never|change] default: always
    on_start: never     # options: [always|never|change] default: always
